body {
  font-family: Arial, sans-serif;
  background: #f4f6ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(circle at top, #0b0f19, #060a12);
}

.container {
  background: #1c1f2b;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  width: 310px;
  text-align: center;
  position: relative;
}
@property --angle {
  syntax:"<angle>"
  initial-value:0deg;
  inherits:false;
}
.container::after, .container::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
left: 50%;
top: 50%;
translate: -50% -50%;
padding: 3px;

  background-image: conic-gradient(   from var(--angle) ,#ff4545, #00ff99,#006aff,#ff0095);
  z-index: -1;
  animation: 3s spin linear infinite;
}
.container::before{
  filter: blur(1rem);
  opacity: 0.4;
}


@keyframes spin {
   from {
      --angle:0deg;
   }

   to {
      --angle:360deg;
   }
}
h1 {
  color: #00f6ff;
      text-shadow: 0 0 8px #00f6ff;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

p {
  font-size: 0.95rem;
  color:#ccc;
  margin-bottom: 20px;
}

.field {
  text-align: left;
  margin-bottom: 15px;
}
.question{
  color: red;
  font-weight: 700;
  text-align: center;
}
.question span {
  color: green;
  font-size: 18px;
  font-weight:  900;
  display: block;
  text-shadow: 0 0 1px #00ff99;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}

input, textarea {
  width: 100%;
  max-width: 300px;
  max-height: 50px;
  padding: 8px;
  border: 1px solid ;
  border-color: #007bff;
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  background: #444;
}

button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #00f6ff, #007bff);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 0 10px #00f6ff;
}

button:hover {
      background: linear-gradient(90deg, #007bff, #00f6ff);
      box-shadow: 0 0 20px #00f6ff;
      transform: translateY(-3px);
    }

input:focus,textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}




/* londing page */

.londing{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* glass effect */
    background: #1c1f2b;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    transition: all 1s ease-in-out;
    /* display: none; */
    /* border: 1px solid black; */
    position: relative;
    position: absolute;
}



.removeLonding{
    
    opacity: 0.2;
}
.londing h1{
    font-family: var(--font-primary);
    font-size: 24px;
    text-align: center;
    color: blue;
    margin-block: 10px;
}
.spinner {
   position: relative;
   width: 56px;
   height: 56px;
background: #1c1f2b;
}

.spinner::before,
.spinner::after {
   content: '';
   width: 100%;
   height: 100%;
   animation: spinner-rfi6tk 1s infinite linear;
   box-sizing: border-box;
   border: 11.2px solid rgba(71,75,255,0.1);
   border-radius: 50%;
   position: absolute;
}

.spinner::before {
   animation-direction: reverse;
   border-right-color: #474bff;
   right: calc(50% - 5.6px);
}

.spinner::after {
   border-left-color: #474bff;
   left: calc(50% - 5.6px);
}

@keyframes spinner-rfi6tk {
   0% {
      transform: rotate(0deg);
   }

   50%, 100% {
      transform: rotate(360deg);
   }
}